<ion-header>
  <ion-toolbar>
    <ion-title>Operaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item>
    <ion-label position="fixed">Número 1:</ion-label>
    <ion-input [(ngModel)]="num1"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="fixed">Operación:</ion-label>
    <ion-input [(ngModel)]="operacion" ></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="fixed">Número 2:</ion-label>
    <ion-input [(ngModel)]="num2"></ion-input>
  </ion-item>
  <ion-button color="success" (click)="calcular()">
    Calcular
  </ion-button>
  <ion-button routerLink="/home">
    Volver
  </ion-button>
</ion-content>
