<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button routerLink="/contacto" >
    Ir a Contacto
  </ion-button>
  <ion-button routerLink="/nosotros" >
    Ir a Nosotros
  </ion-button>
  <ion-button routerLink="/saludo" >
    Página Saludo
  </ion-button>
  <ion-button routerLink="/operaciones" >
    Página Operaciones
  </ion-button>


  <ion-item>
    <ion-label position="fixed">Nombre:</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Apellido:</ion-label>
    <ion-input [(ngModel)]="apellido" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Celular:</ion-label>
    <ion-input [(ngModel)]="celular"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Email:</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-button color="success" (click)="guardarDatos()">
    Guardar
  </ion-button>
 
  <ion-list>
    <ion-item *ngFor=" let item of usuarios">
      <ion-label>{{ item.nombre }}</ion-label>
      <ion-label>{{item.apellido}}</ion-label>
      <ion-label>{{item.celular}}</ion-label>
      <ion-label>{{item.email}}</ion-label>
      <ion-button color="primary" class="success" (click)= editarDatos(item)>
        Editar
      </ion-button>
      <ion-button color="danger" class= "success" (click)= eliminarDatos(item)>
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
